<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un nouvel article</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="p-formadd">
        <h1>Ajouter un nouvel article</h1>
        <form action="/admin/addArticle" method="POST" enctype="multipart/form-data">
            <label for="title">Titre :</label>
            <input type="text" id="title" name="title" required><br>
            <label for="content">Contenu :</label>
            <textarea id="content" name="content" required></textarea><br>
            <label for="picture">Image :</label>
            <input type="file" id="picture" name="picture" required><br>
            <input type="text" id="picture" name="picture" required><br>
            <label for="alt">Texte alternatif de l'image :</label>
            <input type="text" id="alt" name="alt" required><br>
            <label for="category">Catégorie :</label>
            <input type="text" id="category" name="category" required><br>
            <button type="submit">Ajouter</button>
        </form>
    </div>
</body>
</html>
